.experience-list-card {
    padding-right: 20px;
    /* Espaçamento entre as colunas */
}

.experience-list-card h4 {
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    font-size: 16px;
}

.experience-list-card ul {
    list-style: none;
    padding: 0;
}

.experience-list-card li {
    color: var(--gray-color);
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.4;
}